---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
const pageTitle = "About";
const arrNames = ["John", "Jane", "Jack"];

const vars = {
    color: "red",
    fontSize: "16px",
    fontWeight: "bold",
};
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{pageTitle}</title>
    </head>
    <body>
        <Navigation />
        <br />
        <p class="content">ABOUT PAGE</p>
        <br />
        {arrNames.map((name) => <li>{name}</li>)}
    </body>
</html>

<style define:vars={vars}>
    .content {
        color: var(--color);
        font-size: var(--fontSize);
        font-weight: var(--fontWeight);
    }
</style>
